# Ignore build and output folders
dist/* linguist-vendored
build/* linguist-vendored
web-build/* linguist-vendored
.expo/* linguist-vendored
node_modules/* linguist-vendored

# Optional: mark your TypeScript code as the main language
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
